body{
    background-image: url("../images/Tombstone-Val-Kilmer.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin:0;
   
}
#gameName {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    color: black;
    font-size: 20px;

}


#general{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding: 30px;
    color: white;

}

#mastHead{
    background: white;
    
    width: 100%;
    padding:5px;
    margin: 5px 0px 5px 0px;

}