body{
    background-image: url("../images/Tombstone-Val-Kilmer.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin:0;
   
}
#gameName {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    color: black;
    font-size: 30px;

}


#general{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding: 30px;
    color: white;
    font-size: 30pt;
    width: 800px;
    color: white;
    font-family: 'Oswald', sans-serif;
    
    /* text-shadow: 2px 2px 4px #000000; */
    text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
}

#mastHead{
    background: white;
    
    width: 100%;
    padding:5px;
    margin: 5px 0px 5px 0px;

}

#footer{
    position: absolute;
    background: white;
    text-align: center;
    bottom: 8px;
    padding: 10px;
    width: 100%;
}

